* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.amazon_first_container {
    width: 100%;
    background-color: #131921;
    position: fixed;
    z-index: 1;
}

.amazon_first_content {
    width: 97%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding: 0.3rem 0;
}

.logo {
    width: 125px;
}

.delivery {
    display: flex;
    justify-content: space-between;
    align-items: end;
    gap: 0.5rem;
    color: white;
    cursor: pointer;
}

.deltext {
    font-size: 0.7rem;
    color: rgb(211, 209, 209);
    font-weight: 525;
}

.loac {
    font-size: 0.9rem;
    font-weight: bold;
}

.allbtn {
    padding: 0.7rem 0.7rem;
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    margin-right: -4px;
}

.pro_int {
    padding: 0.7rem;
    width: 400px;
    border: none;
}

.pro_int::placeholder {
    font-size: 1rem;
}

.search_btn {
    padding: 0.7rem 0.9rem;
    background-color: #febd69;
    border: none;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    margin-left: -6px;
}

.search_icon {
    font-size: 0.95rem;
}

.lang {
    display: flex;
    align-items: end;
    justify-content: space-between;
    gap: 5px;
}

.flagimg {
    width: 1rem;
    height: 1rem;
}

.langbtn {
    color: white;
    background-color: #131921;
    border: none;
    cursor: pointer;
    font-weight: 600;
}

.acc_log_in {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.sign {
    color: white;
    font-size: 0.7rem;
    font-weight: 525;
}

.account {
    color: white;
    font-size: 0.9rem;
    font-weight: bold;
}

.return {
    display: flex;
    flex-direction: column;
}

.ro_navigation {
    text-decoration: none;
    color: white;
}

.return_text {
    color: white;
    font-size: 0.7rem;
    font-weight: 525;
}

.order_text {
    color: white;
    font-size: 0.9rem;
    font-weight: bold;
}

.cart_text {
    text-decoration: none;
    color: white;
    font-size: 0.9rem;
    font-weight: bold;
}

.cart_icon {
    font-size: 1.7rem;
}

/* First Content end  */

/* Second Content Start */

.second_container {
    width: 100%;
    background-color: #232f3e;
    position: fixed;
    top: 60px;
    z-index: 1;
}

.second_content {
    width: 97%;
    margin: auto;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding: 0.6rem 0;
}

.link_text {
    color: #ffffff;
    text-decoration: none;
    font-size: 0.8rem;
    font-weight: 550;
}

.al {
    color: #ffffff;
    font-size: 0.9rem;
    font-weight: 600;
}

.al i {
    font-size: 1.2rem;
}

.hero_container {
    width: 100%;
    position: relative;
    top: 85px;
    z-index: 0;
}

.image_container {
    width: 100%;
}

.hero_image {
    width: 100%;
    height: 100vh;
}

.first_card_container {
    position: absolute;
    top: 50%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 1rem;
    row-gap: 1rem;
    margin: 0 1.3rem;
}

.box_card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 1rem;
    background-color: white;
}

.inner_card_box {
    width: 100%;
    height: 100%;
    display: grid;
    column-gap: 1rem;

    grid-template-columns: repeat(2, 1fr);
    margin: 0.5rem 0;
}

.c1 {
    width: 120px;
    height: 150px;
}

.c1_cont {
    width: 100%;
    height: 70%;
    text-decoration: none;
}

.c1_image {
    width: 100%;
    height: 70%;
    object-fit: cover;
}

.box_title {
    font-size: 1.35rem;
    font-weight: bold;
}

.photo_title {
    font-size: 12px;
    color: rgb(38, 39, 40);
}

.image_cont {
    width: 100%;
    height: 100%;
}

.card_image {
    width: 100%;
    height: 300px;
    margin: 0.5rem 0;
}

.explore {
    text-decoration: none;
    color: rgb(41, 131, 166);
    font-size: 0.8rem;
}

/* Bike section start here */
.bike_section_container {
    width: 100%;
    height: auto;
    padding-top: 41rem;
    background: linear-gradient(to top, hotpink, white);
}

.bike_content {
    width: 97%;

    margin: auto;
    background-color: white;
    padding: 1rem 1rem;
}

.section_heading {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.bike_offers {
    text-decoration: none;
    color: rgb(47, 120, 150);
}

.bike_catalogue {
    display: flex;
    overflow: auto;
    scrollbar-width: auto;
    scrollbar-gutter: stable;
    padding: 1rem 0;

    &::-webkit-scrollbar {
        width: 6px;
        height: 6px;
        visibility: hidden;
    }
}

.bike_catalogue:hover {
    scrollbar-width: auto;

    &::-webkit-scrollbar {
        width: 6px;
        height: 6px;
        visibility: visible;
    }

    &::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
}

.bike_image {
    width: 250px;
    height: 200px;
}

.bike_img_cont {
    padding: 0 1rem;
}

/* Bike down Section start  */
.bike_down_container {
    width: 100%;

    background: linear-gradient(to top, white, hotpink);
    height: auto;
    padding: 1rem 0;
}

.bike_down_content {
    width: 97%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 1rem;
}

.B_Down_fist_grid {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 1rem;

}

.b_down_title {
    font-size: 1.3rem;
    padding-bottom: 1rem;
}

.b_down_img {
    width: 80%;
    margin: auto;
    padding-bottom: 1rem;
}

.book_img {
    width: 100%;
}

.book_desc {
    text-decoration: none;
    color: black;
    font-size: 0.8rem;
    padding-bottom: 0.5rem;
}

.book_price {
    font-size: 1.4rem;
    text-decoration: none;
    color: rgb(10, 10, 10);
    padding-bottom: 0.8rem;
}

.zero {
    font-size: 0.8rem;
}

.book_mrp {
    font-size: 0.9rem;
    color: rgb(83, 82, 82) !important;
}

.multi_books {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;
    column-gap: 0.4rem;
}

.multi_books_grid {
    width: 100%;
    border: 1px solid rgb(106, 132, 148);
    border-radius: 0.5rem;
}

.multi_book1 {
    width: 100%;
    object-fit: cover;
}

.multi_book_img {
    width: 100%;
    border-radius: 0.5rem;
}

/* Bike down Section stop  */